*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

/* dynamic css */
.instruction{
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}
.offscreen{
 position: absolute;
  top: -100%; 
  
}
.valid{
  display: inline-block;
  background-color: darkgreen;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.hide{
  display: none;
}
.invalid{
  display: inline-block;
  background-color: darkred;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
/* .errmsg{
  color: rgb(230, 50, 50);
  background-color: black;
  padding: 10px;
  border-radius: 5px;
} */
.invalid svg, .valid svg{
  vertical-align: baseline;
}
p svg{
  display: inline-block;
  background-color: #fff;
  color: black;
  border-radius: 50%;
}

/* end */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(30, 15, 235);
  /* background-color: rgb(29, 14, 240); */
}
h1,h2,h3,h4, h5{
  text-align: center;
  margin: 10px;
}
h1, .form{
  background-color: rgb(12, 3, 131);
  font-size: 1.1rem;
  width: 400px;
  min-height: 80%;
  color: white;
  padding: 20px;
}

input{
  /* display: ; */
  padding:  10px;
  width: 100%;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  margin-bottom: 5px;
  background-color: whitesmoke;
}

.inputForm input[type="checkbox"]{
   width: 10%;
  padding: 0;
  margin: 0; 
  display: inline;
}

/* -------------------- */

.err{
  display: none;
  color: rgb(230, 50, 50);
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  font-size: small;
}

input:invalid[focused="true"] ~ .err{
  display: block;
}

/* -------------------- */

h2, .form div{
  margin-bottom: 20px;
}
h2{
  font-size: 2rem;
}
button{
  display: block;
  padding: 10px 25px;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color:green;
  color: #fff;
}

a{
  color: inherit;
}
.issue{
  margin-top: 30px;
  font-size: .7rem;
}

.button{
  display: flex;
  justify-content:space-between;
  gap: 10px;
  align-items: center;
}
.button svg{
  display: inline-block;
  align-self: flex-end;
}

